<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-8 offset-md-2">
              <h3>Sign Up</h3>
              <form name="form" (ngSubmit)="signUpForm.form.valid && onSubmit()" #signUpForm="ngForm" [mustMatch]="['password', 'confirmPassword']" novalidate>
                  <div class="form-group">
                      <label for="firstName">First Name</label>
                      <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': signUpForm.submitted && firstName.invalid }" required />
                      <div *ngIf="signUpForm.submitted && firstName.invalid" class="invalid-feedback">
                          <div *ngIf="firstName.errors.required">First Name is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="lastName">Last Name</label>
                      <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': signUpForm.submitted && lastName.invalid }" required />
                      <div *ngIf="signUpForm.submitted && lastName.invalid" class="invalid-feedback">
                          <div *ngIf="lastName.errors.required">Last Name is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="email">Email</label>
                      <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': signUpForm.submitted && email.invalid }" required email />
                      <div *ngIf="signUpForm.submitted && email.invalid" class="invalid-feedback">
                          <div *ngIf="email.errors.required">Email is required</div>
                          <div *ngIf="email.errors.email">Email must be a valid email address</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': signUpForm.submitted && password.invalid }" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
                      <div *ngIf="signUpForm.submitted && password.invalid" class="invalid-feedback">
                          <div *ngIf="password.errors.required">Password is required</div>
                          <div *ngIf="password.errors.pattern">Password must be at least 8 characters, 1 uppercase, 1 lowercse and 1 special character</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="confirmPassword">Confirm Password</label>
                      <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': signUpForm.submitted && confirmPassword.invalid }" required />
                      <div *ngIf="signUpForm.submitted && confirmPassword.invalid" class="invalid-feedback">
                          <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
                          <div *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <button class="btn btn-primary" [disabled]="signUpForm.invalid">Sign Up</button>
                  </div>
                  <div class="login">
                      <p>Already have an account?</p>
                      <button class="btn btn-primary btn-login"> <a [routerLink]="['/login']"></a>Log in</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>